.container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 100px;
    width: 450px;
}

.title {
    color: var(--Denim, #022959);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading */
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle {
    color: var(--Grey, #9699AA);
    /* Body (L) */
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    margin-top: 11px;
}

.formContainer {
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}